<!DOCTYPE html>
<html>
  <head>
    <title>StarApp</title>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <link href='/css/main.css' rel='stylesheet'>
    <link href='/favicon.ico' rel='icon' type='image/x-icon'>
  </head>
  <body>
    <%= yield %>
    <script src='/js/Chart.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='/js/handlebars-1.0.0.js'></script>
    <script src='/js/ember-1.0.0-rc.7.js'></script>
    <script src='/js/app.js'></script>
    <script src='/js/main.js'></script>
  </body>
</html>
